body {
  font-family: sans-serif;
}
:root {
  --color1: #e7e0c9;
  --firstFont: "Permanent Marker", cursive;
  --secondFont: "Fredoka One", cursive;
}

.element1 {
  background: var(--color1);
  height: 600px;
  width: 400px;
  border-radius: 20px;
}
.one {
  font-size: 5rem;
  margin-left: 30px;
  color: white;
  font-family: var(--firstFont);
}

.two {
  font-size: 5rem;
  margin-left: 30px;
  color: white;
  font-family: var(--secondFont);
}
.headline {
  height: 300vh;
}
